# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
# *.db
*.sqlite3
*.log

# venv
env
venv

# other
.DS_Store

# javascript
package-lock.json
kubernetes/secret
src/staticfiles/
secret/
!staticfiles/.gitkeep 
.vscode/symbols.json
feedback_files/*

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp

.env__
.vscode/launch.json
