{% extends "general/base.html" %}

{% block title %} Speach {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="pcoded-main-container">
  <div class="pcoded-content">
    <p> You are about to cancel your subscription. </p>
    <p> By canceling your subscription, you will lose the accesss to the service. Nevertheless, all the remaining uses
      will be available and reimbursed to you if you decide to come back. If you have particular problems with our service, please leave a feedback so we can learn and improve </p>
    <p> If you are sure canceling subscription is what you want, please click the red button below. </p>
    <form action={% url "speach:cancel_subscription" %} method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Cancel Subscription</button>
    </form>
    <form action={% url "speach:select_subscriptions" %} method="get">
      <button type="submit" class="btn btn-primary">Go Back </button>
    </form>
  </div>

</div>

{% endblock content %}
{% block javascripts %}{% endblock javascripts %}
