{% extends "general/base.html" %}

{% block title %} Speach {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/payment_table.css">
{% endblock stylesheets %}

{% block content %}


<div class="pcoded-main-container">
  <div class="pcoded-content">
      <h3> Remaining uses with current plan: {{ remaining_uses }}</h3>
      <h3> Pricing Plans </h3>
        {% if has_subscription %}
          <ul class="subscriptions-list" style="background-color: {{ active_product.metadata.background_color }};" >
            <li style="background-color: {{ active_product.metadata.background_color }};">
              <p class="header">{{ active_product.name }}</p>
              <br><br>
              <p style="font-size: 15px; color: #000000;">{{ active_product.metadata.description }}</p>
                <form action="{% url 'speach:confirm_subscription_cancel' %}" method="POST">  
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Cancel subscription</button>
                </form>
            </li>
          </ul>
        {% else %}
          <ul class="subscriptions-list" >
            {% for product in products%}
              <li style="background-color: {{ product.product.metadata.background_color }};">
                <p class="header"> {{ product.product.name }}</p>
                <br><br>
                <p style="font-size: 15px; color: #000000;">{{ product.product.metadata.description }}</p>
                  {% for price in product.prices %}
                    <form action="{% url 'speach:subscription_selected' %}" method="POST">  
                      {% csrf_token %}
                      <input type="hidden" name="price_id" value="{{ price.id }}" />
                      <button type="submit" class="button">{{ price.human_readable_price }}</button>
                    </form>
                  {% endfor %} 
                </li>
            {% endfor %}
          </ul>

        {% endif %}
      <div class="text-center">
        <a href="{% url 'speach:payment_methods' %}" class="btn btn-primary">Change payment method</a>
      </div>
      <div class="text-center">
        <a href="{% url 'speach:payment_methods' %}" class="btn btn-primary">Change payment method</a>
      </div>
      <div class="text-center">
        <a href="{% url 'speach:payment_methods' %}" class="btn btn-primary">Change payment method</a>
      </div>
      <div class="text-center">
        <a href="{% url 'speach:payment_methods' %}" class="btn btn-primary">Change payment method</a>
      </div>
  </div>
</div>

  </div>

</div>


{% endblock content %}

{% block javascripts %}{% endblock javascripts %}