{% extends "layouts/base.html" %}

{% block title %} Edit company {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="form-group">
                    <form action="{% url 'home:finished_adding_company'  %}" method="post">
                        {% csrf_token %}
                        <label for="company_description">Company name:</label>
                        <input type="text" name="name" class="form-control" value="{{company.name}}"></br>
                        <label for="company_description">Write something about the company here:</label>
                        <textarea name="about" class="form-control" id="company_description" rows="3" >{{company.about}}</textarea>
                        <br>
                        <input type="submit" name="Submit" value="Save" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}