{% extends "layouts/base.html" %}

{% block title %} Speach {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="pcoded-main-container">
    <div class="pcoded-content">
        <form action="{% url 'home:get_speach'  %}" method="post">
            {% csrf_token %}
            <label for="company_description">Write something about the company here:</label>
            <textarea name="AboutInput" class="form-control" id="company_description" rows="3"></textarea>
            </textarea></br>
            <label for="company_select">Select company:</label>
            <select name="CompanySelection" class="form-control" id="company_select">
                {% for company in companies %}
                    <option value={{company.id}} {% if selected_company == company %} selected {% endif %} > {{company.name}} </option>
                {% endfor %}
            </select>
            <input type="submit" name="Submit" value="Get result" />
        </form>
    </div> 
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}