{% extends "general/base.html" %}

{% block title %} Speach {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/buttons.css">
{% endblock stylesheets %}

{% block content %}
{% load static %}


<input type="hidden" id="selected_id" value="{{selected_id}}">

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <ul class="button-vertical-list" id="v-pills-tab" >
                                    <li>
                                    {% for company in companies %}
                                            <button id={{company.company.id}} class="vertical-list-button" onclick="toggle_description(this.id)"> {{ company.company.name }}</button>
                                    {% endfor %}
                                    </li>
                                    <li>
                                        <form method="post" action={% url 'speach:company'%}>
                                            {% csrf_token %}
                                            <button type="submit" class="vertical-list-button" > Add new </button>
                                            <input type="hidden" name="submit" value="Create" />
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-9 col-sm-12">
                                <div >
                                    {% for company in companies %}
                                        <div id="{{company.company.id}}-description" class="vertical-description" style="display:none;">
                                            <form action="{% url 'speach:company'  %}" method="post">
                                                {% csrf_token %}
                                                <p class="mb-0">{{company.company.about}}</p>
                                                <hr>
                                                <p> SERVICES: </p>
                                                <p>
                                                    {% for service in company.services %}
                                                        <a href={% url 'speach:add_service' company.company.id service.id %}>{{service.name}}</a>, 
                                                    {% endfor %}
                                                    <a href={% url 'speach:add_service' company.company.id  %}>Add new</a> 
                                                
                                                </p>
                                                <input type="submit" name="submit" class="btn btn-primary" value="Edit" />
                                                <input type="submit" name="submit" class="btn btn-danger" value="Delete" />
                                                <input type="hidden" name="company_id" value="{{company.company.id}}" />
                                            </form>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="{% static 'assets/js/buttons.js' %}"></script> 
{% endblock javascripts %}