{% comment %} {% extends "layouts/base.html" %} {% endcomment %}

{% comment %} {% block title %} Edit company {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} {% endcomment %}


<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="form-group">
                    <form action="{% url 'speach:finished_editing_company'  %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="company_id" value="{{company.id}}">
                        <label for="company_description">Company name:</label>
                        <input type="text" name="name" class="form-control" value="{{company.name}}"></br>
                        <label for="company_description">Write something about the company here:</label>
                        <textarea name="about" class="form-control" id="company_description" rows="3" >{{company.about}}</textarea>
                        <br>
                        <input type="submit" name="Submit" value="Save" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %} {% endblock content %}

{% block javascripts %}{% endblock javascripts %} {% endcomment %}